﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CampingCan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:20px">
        <div class="container">
            <div class="navbar-header">                
                @Html.ActionLink("Camping Lending", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Product", "Index", "Product", new { area = "" }, new { @class = "nav-item nav-link" })</li>                    
                    <li>@Html.ActionLink("Biodata", "Index", "Biodata", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                    <li>@Html.ActionLink("Lending", "Index", "Lending", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                    <li>@Html.ActionLink("Return", "ReturnMenu", "Lending", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:20px">
        <div></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CampingCan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
