﻿@model CampViewModel.BiodataViewModel

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("Delete", "Biodata", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
{
    <div>
        <h4>Biodata</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.id)
            <dt>
                @Html.DisplayNameFor(model => model.fullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fullName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
}
<script type="text/javascript">
        $("#form-delete").submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert("Save successful!");
                        $(".modal").modal("hide");
                        GetList();
                    } else {
                        alert("Error! " + result.message);
                    }
                }
            });
            return false;
        });
</script>