﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="button" id="btn-create" name="btn-create" class="btn btn-default" value="Create" />
    </div>
    <div class="panel-body"></div>
    <div id="product-list"> Loading </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Title Here</h4>
            </div>
            <div class="modal-body"><p>the body</p></div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });
        $('#btn-create').click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Biodata")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("New Member");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Biodata")',
                type: 'get',
                success: function (result) {
                    $("#product-list").html(result);
                }
            });
        }
    </script>
}