﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('/Content/Images/jumbotron.jpg'); background-size: cover">
    <h1 style="color:white">Welcome to Camping Lending Site</h1>
    <p class="lead" style="color:white">
        On this Alpha version some feature may not yet implemented and buggy but you already can use it from making some biodata for user or staff,
        making the product for landing, and can already use as Point of Sales for lending your camping gear. but first of all you must
        make biodata and product to use it. THIS IS ALPHA VERSION
    </p>
    <p>@Html.ActionLink("Lending", "Index", "Lending", new { area = "" }, new { @class = "btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New feature coming soon</h2>
        <p>
            some feature will be updated like search, paging in some page, and validation and i will try to update it daily.
            some feature may just there for shown that was posible to make.
        </p>
        <p>@Html.ActionLink("Camping Lending", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Databases</h2>
        <p>You can open up some databases from top menu like biodata, product, borrowed thing and returned thing</p>
        <p>@Html.ActionLink("Biodata", "Index", "Biodata", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Lending Camping Gear</h2>
        <p>Before you lending something make sure to input biodata first with position as 1 for Customers and product for Lending</p>
        <p>@Html.ActionLink("Product", "Index", "Product", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>