﻿@model IEnumerable<CampViewModel.ReceiptDetailViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.receiptHeadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.receiptHeadId)
        </td>
        <td>
            @foreach(var prod in ViewBag.Product)
            {
                if(prod.id == item.productId)
                {
                    @prod.name
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
    </tr>
}

</table>
