﻿@using PagedList.Mvc
@model PagedList.IPagedList<Camp.DataModel.Product>
<div class="col-lg-10">
    <input type="text" id="txt-search" class="form-control" placeholder="Search..." />
</div>
<div class="col-lg-1">
    <button type="button" id="btn-search" class="btn btn-success">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>
<br>
<br>
<div id="data-list">
    <table class="table">
        <tr>
            <th>
                Nama
            </th>
            <th>
                Harga
            </th>
            <th>
                Jumlah
            </th>
            <th>
                Detail
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @if (item.amount <= 0)
                    {
                        <button type="button" class="btn btn-success btn-select" data-id="@item.id" title="Delete" disabled>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success btn-select" data-id="@item.id" title="Delete">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </table>
    <div id="container" class="text-center">
        <div class="pagination" id="myPager">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @*@Html.PagedListPager(Model, page => Url.Action("List", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data-list" }))*@

        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                @if ((Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) > 1)
                {
                    <li class="page-item"><a id="previus" href="#">Prev</a></li>
                }
                @for (var i = 1; i <= @Model.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link" data-id="@i" href="#@i">@i</a></li>
                }
                @if ((Model.PageCount < Model.PageNumber ? Model.PageCount : Model.PageNumber) < Model.PageCount)
                {
                    <li class="page-item"><a id="next" href="#">Next</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    var name;
    $(".btn-select").click(function () {
        $.ajax({
            url: '@Url.Action("SelectedProduct","Lending")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#order-table tbody").append(result);
                Summary();
            }
        });
    });
    $("#btn-search").click(function () {
        name = $("#txt-search").val(); 
        List();
    });
    $('#previus').click(function () {
        page = page - 1;
        List();
    });
    $('#next').click(function () {
        page = page + 1;
        List();
    });
    $('.page-link').click(function () {
        page = $(this).attr("data-id");
        List();
    });
    function List() {
            $.ajax({
                url: '@Url.Action("List", "Lending")',
                type: 'get',
                data: { nama: $("#txt-search").val(), page: page, pagesize: pagesize},
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#txt-search").val(name);
                }
            });
    }
    var input = document.getElementById("txt-search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            document.getElementById("btn-search").click();
        }
    });
</script>
