﻿<div class="col-lg-10">
    <input type="text" id="txt-search" class="form-control" placeholder="Search..." />
</div>
<div class="col-lg-1">
    <button type="button" id="btn-search" class="btn btn-success">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>
<h1 style="text-align:center;color:#337ab7">Oops!</h1>
<h2 style="text-align:center;color:#337ab7">Data not found</h2>
<script type="text/javascript">
    var name;
    $("#btn-search").click(function () {
        name = $("#txt-search").val(); 
        List();
    });
    function List() {
            $.ajax({
                url: '@Url.Action("List", "Lending")',
                type: 'get',
                data: { nama: $("#txt-search").val(), page: page, pagesize: pagesize},
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#txt-search").val(name);
                }
            });
    }
    var input = document.getElementById("txt-search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            document.getElementById("btn-search").click();
        }
    });
</script>

