﻿@model CampViewModel.ReceiptHeadViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="form-payment">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @value = "1" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>User</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.biodataId, (IEnumerable<SelectListItem>)ViewBag.Biodata, "Select User", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.biodataId
           , "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.borrowTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.borrowTime, new { htmlAttributes = new { @class = "form-control", @type = "date", @onchange = "datePrice()" } })
                @Html.ValidationMessageFor(model => model.borrowTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3" style="padding-left:0px; width:18.4%">
                <input type="number" id="totalDays" value="" name="totalDays" class="form-control" readonly="readonly" />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Payment">Payment</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Payment" name="Payment" type="number" onkeyup="CalcPayment()" value="0.00">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Change">Change</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Change" name="Change" type="number" readonly="readonly" value="@(Model.total * -1)">
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Prod. Id</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReceiptDetailViewModel)
                {
                    <tr>
                        <td>
                            @foreach (var prod in ViewBag.Product)
                            {
                                if (item.productId == prod.id)
                                {
                                    @prod.name
                                }
                            }
                    </td>
                    <td>@item.price</td>
                    <td>@item.quantity</td>
                    <td>@item.amount</td>

                </tr>
            }
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn-cancel" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                <input type="button" id="btn-pay" value="Pay!" class="btn btn-success" disabled />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var totalPrice = 0;
    function formatDate() {
        var d = new Date(Date.now()),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
    $(document).ready(function () {
        //console.log(data.Details);
        totalPrice = document.getElementById("total").value;
        document.getElementById("borrowTime").value = formatDate();
        data.ReceiptDetailViewModel.forEach(function (detail, idx) {
            var tr = "<tr>";
            tr += "<td>" + detail.productId + "</td>";
            tr += "<td>" + detail.Price + "</td>";
            tr += "<td>" + detail.Quantity + "</td>";
            tr += "<td>" + detail.Amount + "</td>";
            tr += "</tr>";
            $("#pay-order-list").append(tr);
        });
    });
    function CalcPayment() {
        var payment = parseFloat($("#Payment").val());
        document.getElementById("total").value = totalPrice;
        document.getElementById("total").value = (parseInt(document.getElementById("total").value) + parseInt(chargeDate));
        var amount = parseFloat(data.total) + chargeDate;
        var change = parseFloat(payment) - parseFloat(amount);
        $("#Change").val(change);
        if (change >= 0) {
            $("#btn-pay").removeAttr("disabled");
        } else {
            $("#btn-pay").attr("disabled", 'disabled');
        }
        total = amount;
    }
    var chargeDate = 0;
    var lendDate = new Date();
    function datePrice() {
        lendDate = new Date(document.getElementById("borrowTime").value);
        var presentdate = new Date();
        var totalday = parseInt((lendDate - presentdate) / (24 * 3600 * 1000));

        if (totalday > 2) {
            totalday -= 2;
        } else
            totalday = 0;

        chargeDate = totalday * 5000;
        $("#totalDays").val(totalday);
        CalcPayment();
    }
    $("#btn-pay").click(function () {
        //alert($("#Payment").val());
        //Menampilkan data di console browser

        data = {
            biodataId: $("#biodataId").val(),
            borrowTime: lendDate.toJSON(),
            total: $("#total").val(),
            ReceiptDetailViewModel: details
        }
        $.ajax({
            url: '@Url.Action("Pay", "Lending")',
            type: 'post',
            data: { model: data },
            success: function (result) {
                if (result.success) {
                    $(".modal-title").html("Payment. Thank you!");
                    $("#Code").val(result.message);
                    $("#Payment").attr("readonly", "readonly");
                    $("#btn-pay").remove();
                    $("#btn-cancel").val("Close!")
                    $("#btn-cancel").attr("onclick", "location.reload()");
                } else {
                    alert("Error:\n" + result.message ) /*+"\n"+$("#Payment").val())*/;
                }
            }
        })
    });
</script>
