﻿@using PagedList.Mvc
@model PagedList.IPagedList<CampViewModel.ReceiptHeadViewModel>

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Code
        </th>
        <th>
            Pickup
        </th>
        <th>
            Return
        </th>
        <th>
            Total
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var bio in ViewBag.Biodata)
                {
                    if (item.biodataId == bio.id)
                    {
                        @bio.fullName
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td id="borrowtime" value="@item.borrowTime">
                @Html.DisplayFor(modelItem => item.borrowTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.returnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @if (item.status)
                {
                    <span class="btn btn-success">
                        Returned
                    </span>
                }
                else
                {
                    <button type="button" class="btn btn-warning btn-borrow" data-id="@item.id">
                        Borrowed
                    </button>
                }
            </td>
            <td>
                <button type="button" class="btn btn-success btn-select" data-id="@item.id">
                    Detail
                </button>
            </td>
        </tr>
    }

</table>
<div id="container" class="text-center">
        <div class="pagination" id="myPager">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @*@Html.PagedListPager(Model, page => Url.Action("List", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data-list" }))*@

        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                @if ((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) > 1)
                {
                    <li class="page-item"><a id="previus" href="#">Prev</a></li>
                }
                @for (var i = 1; i <= @Model.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link" data-id="@i" href="#@i">@i</a></li>
                }
                @if ((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) < Model.PageCount)
                {
                    <li class="page-item"><a id="next" href="#">Next</a></li>
                }
            </ul>
        </div>
</div>

<script type="text/javascript">
    page = @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber);
    $(".btn-borrow").click(function () {
        var borrowDate = new Date($("#borrowtime").attr("value"));
        var presentdate = new Date();
        var diff = parseInt((borrowDate - presentdate) / (24 * 3600 * 1000));
        $.ajax({
            url: '@Url.Action("Returned", "Lending")',
            type: 'post',
            data: { id: $(this).attr("data-id"), diff: diff },
            success: function (result) {
                if (result.success) {
                    alert(result.message);
                    location.reload();
                }
                else {
                    alert("Error:\n" + result.message);
                }
            }
        });
    });
    $(".btn-select").click(function () {
        $.ajax({
            url: '@Url.Action("DetailList","Lending")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Details");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });
    $('#previus').click(function () {
        page = page - 1;
        List();
    });
    $('#next').click(function () {
        page = page + 1;
        List();
    });
    $('.page-link').click(function () {
        page = $(this).attr("data-id");
        List();
    });
    function List() {
            $.ajax({
                url: '@Url.Action("ReturnList", "Lending")',
                type: 'get',
                data: { page: page, pagesize: pagesize},
                success: function (result) {
                    $("#product-list").html(result);
                }
            });
        }
</script>
