﻿@model Camp.DataModel.ReceiptDetail
<tr>

    <td>
        @Html.HiddenFor(model => model.id)
        @foreach (var product in ViewBag.Product)
        {
            if (Model.productId == product.id)
            {
                @product.name
            }
        }
    </td>
    <td>
        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </td>
    <td>
        @*@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @type = "number" } })*@
        <input class="form-control text-box single-line quantity" id="quantity" name="quantity" type="number" onchange="Calculate(this)" onkeyup="Calculate(this)" value="1" min="0">
    </td>
    <td>
        <input class="form-control text-box single-line" id="Amount" name="Amount" type="number" readonly="readonly" value="@Model.price">
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-remove" onclick="Remove(this)" title="Remove">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </td>
</tr>

