﻿@{
    ViewBag.Title = "Lending";
}

<h2>@ViewBag.Title</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="button" id="btn-new-order" value="New Order" class="btn btn-success" />
        <input type="button" id="btn-payment" value="Payment" class="btn btn-primary" disabled />

    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="order-table">
            <thead>
                <tr>
                    <th style="width: 40%">Product Name</th>
                    <th style="width: 20%">Price</th>
                    <th style="width: 20%">Quantity</th>
                    <th style="width: 20%">Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @*Order List ada disini*@
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        Total
                    </th>
                    <th>
                        <input type="number" id="tot-qty" value="0" name="tot-qty" class="form-control" readonly="readonly" />
                    </th>
                    <th>
                        <input type="number" id="tot-amount" value="0" name="tot-amount" class="form-control" readonly="readonly" />
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{    
    <script type="text/javascript">
        var pagesize;
        var page = 1;
        $("#btn-new-order").click(function () {
            $.ajax({
                url: '@Url.Action("ListAll", "Lending")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Stock");
                    $(".modal").modal("show");
                }
            })
        });

        function Remove(obj) {
            var tr = $(obj).closest('tr');
            var qty = tr.find("input[name=Quantity]").val();
            if (qty <= 0) {
                tr.remove();
            } else {
                var answer = confirm("Yakin mau dihapus?");
                if (answer) {
                    tr.remove();
                    Summary();
                }
            }
        }

        function Calculate(obj) {
            var tr = $(obj).closest('tr');
            var prc = tr.find("input[name=price]").val();
            var qty = tr.find("input[name=quantity]").val();
            var amount = parseInt(prc) * qty;
            tr.find("input[name=Amount]").val(amount);
            Summary();
        }

        function Summary() {
            var qty = 0;
            var amount = 0;
            $("#order-table tbody").find("tr").each(function () {
                qty += parseFloat($(this).find("input[name=quantity]").val());
                amount += parseFloat($(this).find("input[name=Amount]").val());
            })
            $("#tot-qty").val(qty);
            $("#tot-amount").val(amount);
            if (qty > 0) {
                $("#btn-payment").removeAttr("disabled");
            } else {
                $("#btn-payment").attr("disabled", 'disabled');
            }
        }

        var data = {};
        var details = [];
        $("#btn-payment").click(function () {
            $("#order-table tbody").find("tr").each(function () {
                var prodId = $(this).find("input[name=id]").val();
                var prc = $(this).find("input[name=price]").val();
                var qty = $(this).find("input[name=quantity]").val();
                var amount = $(this).find("input[name=Amount]").val();
                detail = {
                    productId: prodId,
                    price: prc,
                    quantity: qty,
                    amount: amount
                };
                details.push(detail);
            });

            // Menampilkan data di console browser
            console.log(details);

            data = {
                biodataId: null,
                borrowRime: null,
                total: $("#tot-amount").val(),
                ReceiptDetailViewModel: details
            }

            $.ajax({
                url: '@Url.Action("Payment", "Lending")',
                type: 'post',
                data: { model: data },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Payment.");
                    $(".modal").modal("show");
                }
            })
        });
    </script>
}