﻿@{
    ViewBag.Title = "ReturnMenu";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Return</h2>
    </div>
    <div class="panel-body"></div>
    <div id="product-list"> Loading </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var pagesize;
        var page;
        $(document).ready(function () {
            GetList();
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("ReturnList", "Lending")',
                type: 'get',
                success: function (result) {
                $("#product-list").html(result);
                }
            });
        }
    </script>
}
